body, html{
  margin:0;
  padding:0;
  font-family: 'Ubuntu Mono';
  height: 100%;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  background-color: #ffffff;
}

.maxWidth1200 {
  max-width:1200px;
  margin: auto;
}

/*
///////////////////////////////////////////////////////////
// HEADER IMAGE /////////////////////////
///////////////////////////////////////////////////////////
*/

#headerImage {
  background-image: url("../photo/cover-1.jpg");
  height: 100%;
  background-position: 45% 20%;
  background-size: cover;
  z-index: 0;
  background-repeat: none;
}

#logo {
  position: relative;
  float: right;
  top: 0%;
}

/*
///////////////////////////////////////////////////////////
// HEADER TEXT /////////////////////////
///////////////////////////////////////////////////////////
*/

#downArrow {
  text-align: center;
  padding: 0px 0px 5px 0px;
  border-top: 10px solid #000000;
  margin: 0px;
}

#headerImageTextNB {
  position: absolute;
  width: 100%;
  top: 100px;
  text-align: center;
}

.headerText {
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  font-weight: normal;
  padding-top: 20px;
}

/*
///////////////////////////////////////////////////////////
// SECTION HEADER STUFF /////////////////////////
///////////////////////////////////////////////////////////
*/

.sectionHeader p {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
  padding: 110px 4px 10px 4px;
  margin: 0px;
}

.sectionDogEar {
  float: right;
  position: relative;
  top: 0px;
  display: inline-block;
}

.sectionNumber {
  float: right;
  position: relative;
  top: 4px;
  left: 96px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  border: 5px solid #000000;
  border-radius: 50%;
  padding: 5px;
  color: #ffffff;
  background-color: #000000;
}

/*
// 01 /////////////////////////////////////////////////////
// BACKGROUND / FOREGROUND COLORS, etc. /////////////////////////
///////////////////////////////////////////////////////////
*/

.background {
  background-color: #ffffff;
}

.foreground {
  color: #000000
}

.standardText {
  font-size: 17px;
  line-height: 23px;
}

.standardText a {
  border: 2px solid #000000;
  color: #000000;
  text-decoration: none;
  padding: 0px 2px 1px 2px;
}

.standardText a:hover {
  color: #ffffff;
  background-color: #000000;
}

.standardText a:focus  {
  color: #000000;
  background-color: #ffffff;
  outline: 0;
}

.article-date {
  border: 2px solid #000000;
  color: #ffffff;
  background-color: #000000;
  padding: 0px 2px 1px 2px;
}

/*
///////////////////////////////////////////////////////////
// DOG EAR MENU //////////////////////////////////
///////////////////////////////////////////////////////////
*/

#navShade {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 7;
}

#dogEar {
  position: fixed;
  top: 0;
  float: left;
  width: 100px;
  height: 100px;
  pointer-events: none;
  z-index: 15;
}

#dogEarSvg {
  position: relative;
  top: 0;
  pointer-events: none;
}

#menuIcons {
  z-index: 20;
}

#menu-bars {
  z-index: 21;
  font-size: 35px;
  position: fixed;
  left: -45px;
  top: -23px;
  padding: 30px 60px 16px 50px;
  margin: auto;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
}

#dogEarNav {
  overflow-y: hidden;
  height: 0%;
  width: 100%;
  max-height: 70%;
  position: fixed;
  z-index: 10;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 10px solid #000000;
  transition: height 0.0s linear;
}

.linkButtons a {
  padding: 8px 8px 8px 0px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  border: 5px solid #000000;
  text-decoration: none;
  margin: 0px 2px 4px 2px;
  cursor: pointer;
}

.linkButtons a:active {
  color: #ffffff;
  background-color: #000000;
}

.linkButtons a:focus {
  outline: 0;
}

.buttonGroup a {
  padding: 8px 8px 8px 8px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  border: 5px solid #000000;
  text-decoration: none;
  margin: 0px 2px 4px 2px;
  line-height: 23px;
}

.buttonGroup a:hover {
  background-color: #000000;
  color: #ffffff;
}

.buttonGroup a:focus {
  color: #000000;
  background-color: #ffffff;
  outline: 0;
}

.buttonGroupLeft a {
  padding: 8px 8px 8px 8px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  border: 5px solid #000000;
  text-decoration: none;
  margin: 0px 4px 4px 0px;
}

.buttonGroupLeft a:hover {
  color: #ffffff;
  background-color: #000000;
  border: 5px solid #000000;
}

.buttonGroupLeft a:focus {
  outline: 0;
}

.connect {
  padding: 40px 2px 36px 2px;
  text-align: center;
}

#nav-list {
  padding: 20px 0px 25px 0px;
  position: relative;
  text-align: left;
  margin-left: 0px;
  font-weight: bold;
}

#menu-container {
  /* margin: 0px 4px 0px 4px; */
  max-width:640px;
  margin: auto;
}

.menuNumber {
  background-color: #000000;
  color: #ffffff;
  padding: 11px 12px 11px 7px;
  font-weight: bold;
}

/*
///////////////////////////////////////////////////////////
// TEXT BOXES //////////////////////////////////
///////////////////////////////////////////////////////////
*/

.infoBoxContainer {
  border-top: 10px solid #000000;
  border-left: 10px solid #000000;
  border-right: 0px solid #000000;
  border-bottom: 10px solid #000000;
  margin: 0px 4px 4px 4px;
  overflow: hidden;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.textCell {
  padding: 0px;
  vertical-align: top;
  margin: 0px;
}

.infoTable {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.infoBoxPara {
  margin: 23px 10px 0px 10px;
}

.infoBoxParaLast {
  margin: 23px 10px 10px 10px;
  text-transform: uppercase;
}

.interviewPara {
  line-height: 35px;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
}

.infoBoxTitle {
  font-weight: bold;
  font-size: 20px;
  padding: 8px 0px 8px 0px; /*center in 40px closed info box */
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  background-color: #ffffff;
  border: none;
  text-align: left;
  line-height: 24px;
}

.infoBoxTitleNest {
  font-weight: bold;
  font-size: 20px;
  padding: 8px 0px 8px 0px; /*center in 40px closed info box */
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  background-color: #ffffff;
  border: none;
  text-align: left;
  line-height: 24px;
}

.textArea {
  display: none;
}

.textAreaEvents {
  display: none;
  padding: 0px 10px 0px 10px;
}

.toggleBarCell {
  left: 0px;
  background-color: #000000;
  width: 30px;
  cursor: pointer;
  padding: 0px !important;
  margin: 0px !important;
  text-align: center;
  vertical-align: top;
}

.toggleBarCellNest {
  left: 0px;
  background-color: #000000;
  width: 30px;
  cursor: pointer;
  padding: 0px !important;
  margin: 0px !important;
  text-align: center;
  vertical-align: top;
}

.fa-chevron-down, .fa-chevron-up, .fa-arrow-down, .fa-arrow-up {
  color: #ffffff;
  margin: 10px 0px 12px 0px !important;
  font-size: 18px !important; /* add up to 40px */
}

.pilcrow {
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  padding: 2px 5px 2px 4px;
  border-radius: 10%;
}

/*
///////////////////////////////////////////////////////////
// DISCOGRAPHY //////////////////////////////////
///////////////////////////////////////////////////////////
*/

#discographySection {
  margin-top: 36px;
}

.maxWidth2000 {
  max-width: 2000px;
  margin: auto;
}

#discography {
  padding: 0px 2px 0px 2px;
}

.discography-item {
  /*font-family: 'Ubuntu Mono';*/
  border: 10px solid #000000;
  margin: 4px 2px 0px 2px;
  padding: 0px 4px 0px 4px;
}

.disc-header {
  font-size: 25px;
  line-height: 40px;
  color: #ffffff;
  background-color: #000000;
  margin: -4px -4px 0px -4px;
  padding: 14px 4px 21px 0px;
  text-align: center;
  letter-spacing: 0px;
  font-weight: bold;
}

.discDuration {
  font-weight: bold;

}

.circleNumber {
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  padding: 3px 3px 3px 3px;
  border-radius: 50%;

}

.circleNumber2 {
  border: 2px solid #000000;
  padding: 6px 2px 6px 2px;
  background-color: #ffffff;
  border-radius: 50%;
}

.disc-para a {
  border: 2px solid #000000;
  padding: 0px 2px 1px 2px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.disc-para a:hover {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  /*border-bottom: 6px solid #000000;*/
  border-right: 2px solid #000000;
  color: #ffffff;
  background-color: #000000;
}

.disc-para a:focus {
  border: 2px solid #000000;
  outline: 0;
}

.disc-para-last a {
  border: 2px solid #000000;
  padding: 0px 2px 1px 2px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.disc-para-last a:hover {
  color: #ffffff;
  background-color: #000000;
}

.disc-para-last a:focus {
  color: #000000;
  background-color: #ffffff;
  outline: 0;
}

.playButton {
  border: 2px solid #000000;
  padding: 0px 2px 1px 2px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  cursor: pointer;
}

.playButton:hover {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: 6px solid #000000;
  border-right: 2px solid #000000;
}

.playButton:focus {
  border: 2px solid #000000;
  color: #000000;
  background-color: #ffffff;
  outline: 0;
}

.number-cell {
  background-color: #000000;
  color: #ffffff;
  border: 4px solid #000000;
  text-align: center;
  font-size: 17px;
  line-height: 0px;
  width: 20px;
  padding: 4px 10px 4px 10px;
}

.title-cell {
  padding: 4px 4px 4px 10px;
  font-weight: bold;
  border: 4px solid #000000;
  font-size: 17px;
}

.disc-para {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 35px;
  margin: 4px 0px 10px 0px;
}

.disc-para-last {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 35px;
  margin: 10px 0px 0px 0px;
}

.discHR {
  border-top: 2px solid #000000;
  width: 50%;
  margin: auto;
}

.paraWorkTitle {
  border-top: 1px solid #000000;
  padding: 1px 5px 3px 5px;
  color: #ffffff;
  background-color: #000000;
  font-weight: normal;
}

.fa-arrow-right {
  padding-left: 1px;
}

.disc-cols {
    float: left;
    box-sizing: border-box;
}

.playTable {
  border-collapse: collapse;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.playTable td {
  border: 4px solid #000000;
  padding: 4px;
}

.discPlaySpace {
  line-height: 0px;
}

#disc-col-1 {
  /*background-color: red;*/
}

#disc-col-2 {
  /*background-color: green;*/
}

#disc-col-3 {
  /*background-color: blue;*/
}

#disc-col-4 {
  /*background-color: orange;*/
}

#audioPlayerContainer {
  overflow-y: hidden;
  width: 100%;
  max-height: 100%;
  min-width: 280px;
  position: fixed;
  z-index: 5;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 10px solid #000000;
  font-family: 'Ubuntu Mono';
  padding-top: 0px;
}

.playerButtons {
  cursor: pointer;
}

#dotsOuter {
  max-width: 400px;
  margin: auto;
  padding: 30px 12px 0px 12px;
  display: block;
  text-align: center;
}

.audioDotOutter {
  box-sizing: border-box;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  float: left;
  cursor: pointer;
}

.audioDotInner {
  border: 3px solid #000000;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  box-sizing: border-box;
  padding: 0px;
  margin: 1px;
}

.audioDotInnerBack {
  position: relative;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  box-sizing: border-box;
  padding: 0px;
  top: -1px;
  left: -1px;
  background-color: #000000;
  opacity: 1;
  transition: opacity 0.2s linear;
}

#minAudioPlayer {
  position: relative;
  top: 10px;
  font-size: 40px;
  line-height: 0px;
  padding-left: 2px;
  float: left;
}

#closeAudioPlayer {
  position: relative;
  top: 10px;
  font-size: 40px;
  line-height: 0px;
  padding-left: 20px;
  float: left;
}

#playAudioPlayer {
  position: relative;
  top: 10px;
  font-size: 40px;
  line-height: 0px;
  padding-left: 20px;
  float: left;
}

#infoAudioPlayer {
  position: relative;
  top: 18px;
  font-size: 24px;
  line-height: 0px;
  padding-left: 20px;
  float: left;
}

#audioControlsOuter {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 12px 0px 12px;
}

#audioPlayerClock {
  position: relative;
  top: 30px;
  font-size: 25px;
  line-height: 0px;
  padding-right: 2px;
  float: right;
  left: 2px;
}

/* to calculate margin corectly */
.afterDots {
  clear: both;
}

#nowPlaying {
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
}

#dogEarBottomSvg {
  position: relative;
  bottom: 0px;
  float: left;
  pointer-events: none;
}

#dogEarBottomButton {
  position: fixed;
  bottom: -100px;
  width: 100px;
  height: 100px;
  z-index: 2;
  pointer-events: none;
}

#audioExpand {
  font-size: 35px;
  position: fixed;
  left: 7px;
  bottom: -93px;
  cursor: pointer;
  z-index: 4;
}

#audioGhostButton {
  font-size: 35px;
  position: fixed;
  left: -48px;
  bottom: -120px;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  padding: 40px 70px 40px 70px;
  transform: rotate(45deg);
}

#audioPlayerInfoDiv {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0);
}

#audioPlayerInfoDivCont {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: 20px;
}

#audioPlayerInfoDivIn {
  max-width: 600px;
  margin: auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid #000000;
  overflow: auto;
}

#audioPlayerInfoDivIn h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin: 10px 10px 0px 10px;
  text-align: Left;
  display: inline-block;
  float: left;
  width: 70%;
}

.infoPopupClose {
  margin: 10px;
  font-size: 30px;
  line-height: 0px;
  cursor: pointer;
  display: inline-block;
  float: right;
}

#audioInfoShade {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  z-index: 49;
}

.eventsAudioLaunch {
  cursor: pointer;
}

/*
///////////////////////////////////////////////////////////
// FORMATTING UTILITIES //////////////////////////////////
///////////////////////////////////////////////////////////
*/

.units {
  text-transform: none;
}

.topPad40px {
  padding-top: 40px;
}

.topMar40px {
  margin-top: 40px;
}

.pad36px {
  padding-top: 36px;
}

.mar36px {
  margin-top: 36px;
}

.centerIt {
  text-align: center;
}

.worksList {
  text-transform: uppercase;
}

.boldText {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  margin: 0px 4px 0px 4px;
}

.pad32px {
  padding-top: 32px;
}

.pad28px {
  padding-top: 28px;
}

/* for blank <div> in cronometro text box*/
.mar2px {
  height: 2px;
}

/*
///////////////////////////////////////////////////////////
// MARIMBA + ELECTRONICS //////////////////////////////////
///////////////////////////////////////////////////////////
*/

.toAllowMargin {
  clear: both;
  display: block;
}

/*
///////////////////////////////////////////////////////////
// PHOTO/VIDEO ////////////////////////////////////////////
///////////////////////////////////////////////////////////
*/

.photoVideoContainer {
  margin: 0px 2px 0px 2px;
}

/*
///////////////////////////////////////////////////////////
// EVENTS /////////////////////////////////////////////////
///////////////////////////////////////////////////////////
*/

.eventButtonArea {
  margin: 36px 10px 6px 10px;
}

.eventButtonAreaLeft {
  margin: 36px 0px 6px 0px;
}

.dashedBorder {
  border-top: 5px dashed #000000;
  margin: 27px 10px 34px 10px;
}

.normalWeightText {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 17px;
}

/*
///////////////////////////////////////////////////////////
// SCORES /////////////////////////////////////////////////
///////////////////////////////////////////////////////////
*/

.scoreDots {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 4px;
}

/*
///////////////////////////////////////////////////////////
// FOOTER /////////////////////////////////////////////////
///////////////////////////////////////////////////////////
*/

.footerWatermark p {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  line-height: 15px;
  font-weight: normal;
  padding: 70px 4px 10px 4px;
  margin: 0px;
}
