# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf
* linguist-vendored
*.js linguist-vendored=false
*.pdf binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
*.otf binary
*.ico binary
*.jpg binary